## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

*.pth
*live.ipynb
.idea
/.idea
/.idea/**
.idea/**
/output
/output/**

/outputfin
/outputfin/**

/outputfin2
/outputfin2/**

/outputpearl
/outputpearl/**

/outputlstm
/outputlstm/**

/3rdparty
/3rdparty/**

/__MACOSX
/__MACOSX/**

/results
/results/**